@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ebe7e0;
  --foreground: #171717;
  --primary: #7743e6;
  --secondary: #c6d4e1;
}

body {
  color: var(--foreground);
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
}
